---
import { config } from "../utils/environment";
import logoWhiteSVG from "../assets/logo_white.svg";
import facebookSVG from "../assets/icons/facebook.svg";
import twitterSVG from "../assets/icons/twitter.svg";
import youtubeSVG from "../assets/icons/youtube.svg";
import instagramSVG from "../assets/icons/instagram.svg";

const SOCIAL_LINKS = [
    {
        alt: "Facebook",
        src: "https://www.facebook.com/hemocione",
        color: "#1877F2",
        image: facebookSVG.src,
    },
    {
        alt: "Instagram",
        src: "https://www.instagram.com/hemocione",
        color: "#E1306C",
        image: instagramSVG.src,
    },
    {
        alt: "Twitter",
        src: "https://www.twitter.com/hemocione",
        color: "#1DA1F2",
        image: twitterSVG.src,
    },
    {
        alt: "Youtube",
        src: "https://www.youtube.com/channel/UCLNW7FBaIF_SSguCS46_ieg",
        color: "#FF0000",
        image: youtubeSVG.src,
    },
];
---

<footer>
    <div class="container content">
        <section>
            <img src={logoWhiteSVG.src} class="logo" alt="Hemocione" />
        </section>
        <section>
            <h3>Hemocione</h3>
            <ol>
                <li><a href="/quem-somos">Quem somos</a></li>
                <li><a href="#">Para doadores</a></li>
                <li><a href="#">Para instituições</a></li>
            </ol>
        </section>
        <section>
            <h3>Serviços</h3>
            <ol>
                <li>
                    <a href={config.hemocioneApp} target="_blank">
                        Portal do doador
                    </a>
                </li>
                <li>
                    <a href={config.hemocioneEvents} target="_blank">
                        Eventos
                    </a>
                </li>
                <li><a href="#">Competições</a></li>
            </ol>
        </section>
        <section>
            <h3>Colabore</h3>
            <ol>
                <li>
                    <a href={config.hemocioneDonation} target="_blank">
                        Irmãos de sangue
                    </a>
                </li>
                <li>
                    <a href={config.hemocioneApp} target="_blank">Lojinha</a>
                </li>
            </ol>
        </section>
        <section class="social-links-container">
            <h3>Acompanhe nossas redes</h3>
            <div class="social-links">
                {
                    SOCIAL_LINKS.map((social) => (
                        <a
                            href={social.src}
                            style={{ backgroundColor: social.color }}
                            target="_blank"
                            rel="noopener noreferrer"
                        >
                            <img src={social.image} alt={social.alt} />
                        </a>
                    ))
                }
            </div>
            <span>+55 21 99159 6646</span>
            <span>contato@hemocione.com.br</span>
        </section>
    </div>

    <span>Feito com ❤️ por Hemocione | © 2024</span>
</footer>

<style>
    footer {
        background-color: #262626;
        color: var(--hemo-color-text-primary);
        padding: 4rem 0;
        text-align: center;
    }

    .content {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
    }

    section {
        display: flex;
        flex-direction: column;
        text-align: start;
    }

    section h3 {
        margin: 0;
        font-size: 1rem;
        font-weight: 700;
        margin-bottom: 1rem;
    }

    ol {
        list-style: none;
        padding: 0;
    }

    ol li {
        margin-bottom: 1rem;
    }

    ol li:hover {
        text-decoration: underline;
    }

    .social-links-container {
        gap: 0.5rem;
    }

    .social-links {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
        margin-bottom: 1rem;
    }

    .social-links a {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        transition: transform 0.2s;
    }

    .social-links a:hover {
        transform: scale(1.05);
    }

    .social-links a img {
        width: 1.25rem;
        height: 1.25rem;
    }

    @media (max-width: 768px) {
        .content {
            flex-direction: column;
            gap: 2rem;
        }

        section {
            text-align: center;
        }

        .social-links {
            justify-content: center;
        }

        .logo {
            max-width: 10rem;
            margin: 0 auto;
        }

        ol {
            margin-bottom: 0;
        }
    }
</style>
