---
import { config } from "../utils/environment";
import barsSVG from "../assets/icons/bars.svg";
import logoSVG from "../assets/navbar_logo.svg";
import userSVG from "../assets/icons/user.svg";
import Button from "./Button.astro";

const currentPath = Astro.url.pathname;
---

<header>
    <nav class="container">
        <img src={logoSVG.src} alt="Hemocione" />
        <input type="checkbox" id="hamburger-menu" hidden />
        <label for="hamburger-menu" class="hamburger-label">
            <img
                src={barsSVG.src}
                class="hamburger-menu"
                width="25"
                height="25"
                alt="Menu de navegação do site"
            />
            <div class="overlay"></div>
        </label>
        <div class="right-side">
            <ol class="nav-list">
                <li class={currentPath === "/" ? "active" : ""}>
                    <a href="/">Inicio</a>
                </li>
                <li class={currentPath === "/quem-somos" ? "active" : ""}>
                    <a href="/quem-somos">Quem somos</a>
                </li>
                <li>
                    <a href={config.hemocioneEvents} target="_blank">Eventos</a>
                </li>
                <li>
                    <a href={config.hemocioneDonation} target="_blank">
                        Irmãos de Sangue
                    </a>
                </li>
                <!-- <li class={currentPath === "/competicoes" ? "active" : ""}>
                    <a href="/competicoes">Competições</a>
                </li> -->
            </ol>
            <a href={config.hemocioneApp}>
                <Button size="small" className="signin-button">
                    <img src={userSVG.src} alt="Ícone de usuário" />
                    Entrar
                </Button>
            </a>
        </div>
    </nav>
</header>

<style>
    header {
        height: var(--navbar-height);
        box-shadow: 0 0 4px var(--hemo-color-text-secondary-opaque);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 5;
    }

    .right-side {
        display: flex;
        align-items: center;
        gap: 2rem;
    }

    nav li a:hover,
    nav li a:focus {
        color: var(--hemo-color-primary);
    }

    .nav-list {
        list-style-type: none;
        display: inline-flex;
        gap: 2rem;
        z-index: 2;
    }

    .nav-list .active {
        color: var(--hemo-color-primary);
        border-bottom: 2px solid var(--hemo-color-primary);
    }

    .nav-list li {
        display: flex;
        align-items: center;
    }

    .hamburger-menu {
        display: none;
    }
    .overlay {
        visibility: hidden;
        opacity: 0;
        position: fixed;
        top: 0;
        right: 0;
        height: 100dvh;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;

        transition:
            visibility 0.3s,
            opacity 0.3s;
    }

    #hamburger-menu:checked ~ .nav-list {
        right: 0;
        visibility: visible;
    }
    #hamburger-menu:checked ~ .nav-list li a:hover {
        color: var(--hemo-color-text-primary);
    }

    #hamburger-menu:checked ~ .hamburger-label .overlay {
        visibility: visible;
        opacity: 1;
    }

    @media screen and (max-width: 768px) {
        .nav-list {
            visibility: hidden;
            display: flex;
            flex-direction: column;
            position: fixed;
            top: 0;
            right: -50%;
            height: 100dvh;
            background-color: var(--hemo-color-background);
            padding: 1rem 3rem;
            gap: 1rem;
            margin: 0;

            transition:
                right 0.3s,
                visibility 0.3s;
        }

        .hamburger-menu {
            display: block;
        }
    }
</style>

<style is:global>
    .signin-button {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 100px !important;
    }
</style>
